<div class="table-container">
    <div class="table-header">
        <h4>Fertilizer Tanks</h4>
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>PH</th>
                <th>EC</th>
                <th>Description</th>
                <th>Stage</th>
            </tr>
        </thead>
        <tbody>
            <% if (data && data.length > 0) { %>
                <% data.forEach((item, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= item.name %></td>
                        <td><span class="badge badge-primary"><%= item.ph %></span></td>
                        <td><span class="badge badge-info"><%= item.ec %></span></td>
                        <td><%= item.description %></td>
                        <td>
                            <span class="badge" style="background: <%= item.stage.color %>; color: white;">
                                <%= item.stage.name %>
                            </span>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="6" class="text-warning">No data available</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
